

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;                             
}
.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 600;
}
.nav-btn{
        box-sizing: border-box;
         border: 1px solid rgb(13, 19, 33);
         border-radius: 3px;
         opacity: 0.8;
         padding: 17px 24px 17px 24px;                                                     
}
.bn-container{
    width: 1440px;
    height: 652px;    
   margin: 0 auto; 
   background-image: url(../assets/Hero-bg.png); 
 border: 2px dashed rgba(0, 0, 0, 0.132);                   
}
.bn-information{
    width: 998px;
    height: 582px;
   margin: 26px auto;                            
     text-align: center; 
}
.bn-title{
    font-weight: 900;
    font-size: 48px;
    color:#0D1321;
}
.bn-description{
    font-size: 16px;
    color:#0D1321;
}
.bn-btn{
    font-weight: 600;
    font-size: 20px;
    color:#FFFFFF;
    width:208px;
    height:66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
/* section style */
.web-section{
    width:1140px;
    height: 1395px;
    margin:0 auto;
    text-align: center;
    padding:80px 97px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 93px;
}
.web-container{
    width: 946px;
    height:1245px;
    margin:0 auto;
    text-align: center;
    
}
.web-text-title{
    color:#0D1321;
    font-size: 32px;
    font-weight: 900;
}
.web-text-description{
    font-size: 16px;
    color:#0D1321;
}
.world{
    display: flex;
    padding:48px;
    border-radius: 16px;
    margin-top: 32px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    gap:98px;
}
.description-title{
    font-size: 24px;
    font-weight: 800;
    color:#0D1321;
}
.description-des{
    font-size: 16px;
    color:#0D1321;
}
.description-btn{
    font-size: 20px;
    font-weight: 600;
    color:#0D1321;
    padding:12px 20px;
}
.image{
    width: 259.56px;
    height: 217.01px;
}
/* 3rd page */
.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
.inspiration{

    width: 1140px;
    height:775px;
    margin:0 auto;
    text-align: center;

}
.inspiration-container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
    
    
}
.inspiration-title{
   
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}
.inspiration-description{
    font-size: 16px;
    color:#0D1321;
}
/* 4th page */
.target{
    
    
    margin:0 auto;
    position: relative;
width: 1440px;
height: 5245px;
background: rgb(255, 255, 255);
}
.target-container{
    margin:0 auto;
   text-align: center;
}
.skills{
    justify-content: space-around;
    text-align: center;
display: flex;
flex-direction: row;
/* justify-content: flex-start; */
align-items: center;
padding: 0px;

order: 0;
align-self: stretch;
flex-grow: 0;
margin: 111px 0px;
}
.skill{
    
    width: 364px;
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 40px;

order: 1;
flex-grow: 0;
margin: 0px 24px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);

}
.target-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.target-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
/* 5th page */
.support{
    margin:0 auto;
    background-image: url(../assets/handshake.jpg);
    position: absolute;
width: 1140px;
height: 314px;
left: 150px;
right: 150px;
top:3770px;
bottom: 179px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 64px 48px 64px 48px;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}
.supportive-div{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}
.supportive-title{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.supportive-des{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.box{
    width:548px;
    height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;


background: rgb(255, 255, 255);
}
.box2{
    width: 120px;
    height:57px;
    padding: 17px 20px;
}
/* FOOTER PART */
.social-media-container{
    height: 100px;       
    background: rgba(13, 19, 33, 0.03);;   
    margin-top: 80px;    
    align-items: center;  
    padding: 5px;  
    top:4163px;      
}
.secial-media-content{
      height: 10px;
      width: 1140px;    
      display: flex;
      flex-direction: row;
      justify-content: space-between;  
    align-items: center;    
    margin: 50px auto;     
}
